.env export-ignore
.env.* export-ignore
.gitattributes export-ignore
.gitignore export-ignore
Makefile export-ignore
README.md export-ignore
database/** export-ignore
deploy/** export-ignore
docker/** export-ignore
docker-compose.yml export-ignore
docs/** export-ignore
package-lock.json export-ignore
package.json export-ignore
playwright.config.mjs export-ignore
scripts/** export-ignore
tests/** export-ignore
tools/** export-ignore
wp-content/backuply/** export-ignore
wp-content/cache/** export-ignore
wp-content/debug.log export-ignore
wp-content/endurance-page-cache/** export-ignore
wp-content/plugins_ZIP/** export-ignore
wp-content/upgrade-temp-backup/** export-ignore
wp-content/upgrade/** export-ignore
wp-content/uploads/**/wc-logs/** export-ignore
wp-content/uploads/wc-logs/** export-ignore
wp-config-sample.php export-ignore
